@import "./base/vars";
@import "./components/nav";
@import "./components/footer";
@import "./pages/contact";
@import "./layout/header";
@import "./layout/forms";
@import "./layout/table";
@import "./pages/index";
@import "./pages/about";
@import "./pages/classes";
@import "./pages/prices";

/* media query for navbar */

@media (min-width: 768px) {
    .navbar-expand-md {
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-nav {
        flex-grow: 1;
        justify-content: center;
    }

}

/* EJEMPLO DE EXTEND */
/* EJEMPLO DE MAPS */

/* Mobile: estilos menores a 768px */


@media only screen and (max-width: map-get($breakpoints,tablet)) {

    .fondo {
        background-image: url(../images/brick-wall-background-wallpaper-texture-concept.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }

    #index,
    #about,
    #contact,
    #classes,
    #prices {
        @extend .fondo;
    }

    /* contact page media query */

    .form-container {
        justify-content: center;
        padding-right: 0;
        margin-top: 0;
    }

    .flex-form {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }

    /* classes page */

    #classes {
        background-size: cover;
    }

    .table {
        width: 100%;
        font-size: 14px;
    }

    td,
    th {
        width: auto;
        padding: 5px;
        font-size: 14px;
    }

    /* about page */

    .column {
        flex-basis: 100%;
        font-size: 16px;
    }

}

/* TABLETS */

/* example for EXTEND */
/* example for MAPS */

@media only screen and (min-width: map-get($breakpoints,tablet)) and (max-width: map-get($breakpoints,desktop)) {
    .wall {
        background-image: url(../images/brick-wall-background-wallpaper-texture-concept.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: repeat;

        #index,
        #about {
            @extend .wall;
        }

        #contact {
            @extend .wall;
            min-width: 100vh;
        }

        /* contact form */
        .form-container {
            justify-content: center;
            padding-right: 0;
            margin-top: 0;
        }

        .flex-form {
            width: 100%;
            padding: 20px 10px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
        }

        /* barra de navegacion */

        #navbar {
            justify-self: center;
        }

        #classes {
            background-image: url(../images/brick-wall-background-wallpaper-texture-concept.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
        }

        /* timetable */
        .table {
            width: 100%;
            font-size: 14px;
        }

        td,
        th {
            width: auto;
            padding: 5px;
            font-size: 14px;
        }

        #prices {
            background-image: url(../images/brick-wall-background-wallpaper-texture-concept.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
        }
    }
}