* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Quicksand', sans-serif;

}

$color-principal: rgb(37, 63, 63);
$bg-image: url("../images/prices.jpg");