/* body for prices */

#prices {
    background-color: darkgrey;
}

/* memberships */

/* Animaciones */

.card {
    animation-name: mi-animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 3s;
    padding-bottom: 25px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 20px;
    background-color: transparent;

    &:hover {
        transform: scale(1.05);
    }
}

@keyframes mi-animacion {
    0% {background-color: lightgray;
    }
    50% {background-color: darkgrey;
    }
    100% {background-color: lightslategrey;
    }
}

.card-text {
    color: black;
    font-size: 20px;
}

.doller,
.month {
    font-family: 'Indie Flower';
    color: black;
}

.doller {
    font-size: 20px;
    text-align: center;
}

.month {
    font-size: 18px;
    text-align: center;
}

.cardTitle {
    color: black;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* principiantes */

.beginner {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.video1 {
    max-width: 100%;
  }